<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    
    <title>Document</title>





    
</head>
<body>
    

     <h1> Welcome to landing page </h1>

     <!-- <input type="text" placeholder="email" name="" id="">
     <br>
     <br>
     <input type="text" placeholder="password" name="" id="">
     <br>
     <button >Log In  </button>
     <br> 
     or
     <br> -->

     <form class="btn waves-effect waves-teal" action="/user/new" method="GET">
        <button> Create A New Account </button>
    </form>


    <form class="btn waves-effect waves-teal" action="/food" >
        <button> Create A New Account </button>
    </form>

    <a href="/user/show" class="btn waves-effect waves-teal">Search by Users</a>




     <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->

</body>
</html>
